*{
    font-family: 'Avenir Next';
}
body {
    margin: 0;
}

.band {
    background-color: #323232;
    color: white;

    &__head--title {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        font-weight: 300;
        line-height: 2rem;
        

    }
   
    &__navi {
        display: flex;
        flex-direction: column;
        &:hover {
            border-bottom: 4px solid white;
        }
    
        &--links {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            align-items: center;
        }
    
        &--link-1 {
            width: 50%;
            border-bottom: 4px solid white;
            margin: 0;
            display: flex;
            justify-content: center;
    
        }
        &--link-2 {
            width: 50%;
            margin: 0;
            display: flex;
            justify-content: center;
        }
       
    }
}

.band__head--img {
    background: url(/assets/images/hero-bio.jpg);
    background-size: cover;
    height: 30vh;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: auto;

}

.music {
    display: flex;
    flex-direction: column;
    font-weight: 300;


    &__title {
        font-size: 1.5rem;
        position: relative;
    }
    &__img {
        height: 40vh;
        width: 100vw;
        margin: 1rem;

    }

    &__ul {
        list-style: none;
        font-weight: 700;
    }
    &__article{
       display: flex; 
       flex-direction: column;
    }
    
    &__name {
        font-weight: 300;
    }
    &__ul-2 {
        list-style: none;
        padding: 0;
    }
    &__para-1 {
        
    }
}

.gallery {
    background-color: #E1E1E1;
    
    &__img {
        width: 100%;
        display: flex;
        flex-direction: column;

        &--mod {
            padding: 1rem;
            width: 100%;
            display: flex;
            // flex-wrap: wrap;
    
            height: 30vh;
        }
    }
}

.foot {
    background-color: #323232;
    color: white;
    text-decoration: none;

}