@use'./partials/globals' as *;
@use'./partials/mixins' as *;
@use'./partials/variables' as *;

*{
    font-family: 'Avenir Next';
}
body {
    margin: 0;
}

.band {
    background-color: #323232;
    color: white;

    &__head--title {
        display: flex;
        height: 1.25rem;
        width: 60vw;
        text-align: center;
        padding-top: 1.5rem;
        @include tablet {
            height: 1.25rem;
            padding-right: 2rem;
            padding-left: 0;
            padding-top: 0;
            width: 20vw;  
        }      
    }
   
    &__navi {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include tablet {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 45vw;
        }  
        &--links {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            width: 100vw;
            text-decoration: none;
            list-style: none;
            padding-top: 1rem;

        }
        &--link-1 {
            width: 50%;
            padding-right: 0rem;
            border-bottom: .1875rem solid white;
            display: flex;
            justify-content: center;

        }
        &--link-2 {
            width: 50%;
            margin: 0;
            padding-left: 3rem;
            display: flex;
            justify-content: center;
        }
        &--anchor {
            padding-bottom: 1rem;
            border-bottom: 1px #FAFAFA;
        }
    &__head--img {
        background: url(/assets/images/hero-bio.jpg);
        background-size: cover;
        height: 40vh;
        display: flex;
        align-items: center;
        font-size: 2rem;
        padding-left: 1rem;
        font-weight: 500;
        background-position: center;
        margin: 0;
        @include tablet {
            height: 92vh;
            font-size: 3.75rem;
            margin: 0;
        }

        @include desktop {
            padding-left: 8rem;
            height: 140vh;
        }
    }   
}
}
.music {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    padding-left: 1rem;
    padding-right: 1rem;


    &__title {
        font-size: 1.5rem;
        position: relative;
        @include tablet {
            font-size: 2rem;
            font-weight: 500;
            padding-left: 1rem;
        }
        @include desktop {
            padding-left: 8rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    
    }
    &__img {
        width: 100%;
        @include tablet {
            padding: 4rem;
            padding-bottom: 2rem;
            padding-top: 0;
            width: 85%;
        }
        @include desktop {
            padding-left: 13rem;
            width: 70%;
        }
    }

    &__ul {
        list-style: none;
        font-weight: 500;
        padding: 0;
        @include tablet {
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 2rem;
        }
        @include desktop {
            width: 72vw;
            padding-left: 11rem;
        }

    }
    &__article{
       display: flex; 
       flex-direction: column;
    }
    &__quote {
        padding-bottom: 1rem;
        @include tablet {
            font-size: 1.5rem;
            padding-left: 2rem;
        }
        @include desktop {
            font-size: 1.8rem;
        }
    }
    &__author {
        @include tablet {
            font-size: 1rem;
            padding-left: 2rem;
        }
        @include desktop {
            font-size: 1.25rem;
        }
    }
    
    &__name {
        font-weight: 500;
        margin: 0;
        @include tablet {
            font-size: 2rem;
            padding-left: 4rem;
        }
        @include desktop {
            padding-left: 12rem;
        }
    }
    &__ul-2 {
        list-style: none;
        padding: 0;
        @include tablet {
            display: flex;
            padding-left: 4rem;
            padding-right: 4rem;
            font-size: 1rem;
            width: 86%;
        }
        @include desktop {
            width: 72%;
            padding-left: 12rem;
        }

    }
    &__para-1 {
        padding-bottom: 1rem;
        @include tablet {
            padding-right: 2rem;
            line-height: 1.75rem;
        }
    }
    &__para-2 {
        padding-bottom: 1rem;
        @include tablet {
            padding-right: 1rem;
            line-height: 1.75rem;
        }
    }
    
}

.gallery {
    background-color: #FAFAFA;
    @include tablet {
        width: 100%;
        
    }

    &__title {
        padding-left: 1rem;
        padding-top: 1rem;
        font-size: 1.5rem;
        font-weight: 400;
        @include tablet {
            font-size: 2rem;
            font-weight: 600;
        }
        @include desktop {
            padding-left: 8rem;
            padding-top: 2rem;
        }
    }
    
    &__img {
        width: 100%;
        @include tablet {
            width: 100%;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
        }
        @include desktop {
            width: 93%;
            padding-left: 4rem;
            padding-bottom: 2rem;
        }

        &--mod {
            padding: 1rem;
            width: 90%;
            display: flex;
            @include tablet {
                width: 29%;
                object-fit: cover;
                vertical-align: bottom;
            }
            
    
        }
    }
}

.foot {
    background-color: #323232;
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    @include tablet {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        position: relative;
    }
    @include desktop {
        padding-left: 8rem;
        padding-right: 8rem;
    }



    &__social {
        font-weight: 300;
        @include tablet {
            display: flex;
            padding-top: 2rem;
            align-items: center;
            height: 10vh;
            
        }
        
        &--title {
            font-weight: 400;
            padding-top: 2rem;
            @include tablet {
                font-size: 2rem;
                padding: 0;
                font-weight: 600;
            }
             
        }
        &--img {
            padding-right: 1.5rem;
            @include tablet {
                height: 5vh;
                padding-left: 2rem;
            }
        }
        
    }
    &__box {
        @include tablet {
            display: flex;
            padding-top: 2rem;
        }
    }

    &__contacts {
        list-style: none;
        padding: 0;
        font-weight: 700;
        @include tablet {
            margin: 0;

        }

        &--booking {
            margin: 0;
            padding: 0;
            font-weight: 400;
            @include tablet {
                width: 73%;
                padding-top: 1rem;
            }
        }

        &--address {
            width: auto;
            font-weight: 400;
            @include tablet {
                width: 72%;
                padding-top: 1rem;
            }
        }
        &--email {
            font-weight: 400;
            @include tablet {
                margin:0;
                padding-top: 1rem;
            }
        }


    }
    &__copyright {
        @include tablet {
            padding-top: 3rem;
        }
    }

    &__logo {
        padding-top: 3rem;
        height: 1.25rem;
        @include tablet {
            position: absolute;
            top: 0rem;
            right: 9rem;
            

        }
    }

}



