@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alternative-files/AvenirNextLTPro.ttf") format("truetype") font-weight 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format("truetype") font-weight 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
* {
  font-family: "Avenir", sans-serif;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Avenir", sans-serif;
}

.band {
  background-color: #323232;
  color: #FFFFFF;
}
.band__head-title {
  display: flex;
  height: 1.25rem;
  width: 60vw;
  text-align: center;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .band__head-title {
    height: 1.25rem;
    padding-right: 2rem;
    padding-left: 0;
    padding-top: 0;
    width: 20vw;
  }
}
@media (min-width: 768px) {
  .band__heading {
    font-size: 2rem;
    padding-left: 1rem;
  }
}
.band__navi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .band__navi {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 45vw;
    height: 5vh;
    padding-top: 2rem;
  }
}
.band__navi-link {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-top: 1rem;
  width: 100vw;
}
@media (min-width: 768px) {
  .band__navi-link {
    padding-top: 0;
  }
}
.band__navi-link-1 {
  width: 50%;
  padding-right: 0rem;
  display: flex;
  justify-content: center;
  list-style: none;
}
.band__navi-link-1 :hover {
  border-bottom: 0.1875rem solid #FFFFFF;
  width: 50%;
}
.band__navi-link-2 {
  width: 50%;
  margin: 0;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
}
.band__navi-link-2 :hover {
  border-bottom: 0.1875rem solid #FFFFFF;
}
.band__navi-link-1.active {
  font-weight: 700;
  border-bottom: 0.1875rem solid white;
}
.band__navi-link-2.active {
  font-weight: 700;
  border-bottom: 0.1875rem solid white;
}
.band__navi-anchor {
  padding-bottom: 1rem;
  border-bottom: 1px #fafafa;
  text-decoration: none;
  color: white;
}
.band__head {
  background: url(/assets/images/hero-bio.jpg);
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: center;
  background-position: center;
  margin: 0;
  z-index: 1;
  position: relative;
}
.band__head::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #323232;
  opacity: 50%;
  z-index: -1;
}
@media (min-width: 768px) {
  .band__head {
    height: 75vh;
    font-size: 3.75rem;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .band__head {
    padding-left: 8rem;
    height: 80vh;
  }
}
.band__head-img {
  font-size: 2rem;
  padding-left: 1rem;
  background-position: center;
  margin: 0;
}
@media (min-width: 768px) {
  .band__head-img {
    font-size: 3.75rem;
    height: 15vh;
    padding-top: 1rem;
  }
}
.band__head-img-2 {
  font-size: 2rem;
  padding-left: 1rem;
  background-position: center;
  margin: 0;
}
@media (min-width: 768px) {
  .band__head-img-2 {
    font-size: 3.75rem;
    height: 15vh;
    padding-top: 1rem;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .band__head-img-2 {
    margin: 0;
  }
}
.band__head-2 {
  background: url(/assets/images/hero-shows.jpg);
  background-size: cover;
  height: 40vh;
  display: flex;
  background-position: center;
  z-index: 1;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
.band__head-2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #323232;
  opacity: 50%;
  z-index: -1;
}
@media (min-width: 768px) {
  .band__head-2 {
    height: 60vh;
    font-size: 3.75rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .band__head-2 {
    height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .band__box-1 {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .band__box-2 {
    display: flex;
    flex-direction: column;
  }
}
.band__heading {
  display: flex;
  margin: 0;
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.band__iframe {
  width: 90%;
  padding-top: 1rem;
  height: 10vh;
}
@media (min-width: 768px) {
  .band__iframe {
    width: 75vw;
    height: 11vh;
  }
}
@media (min-width: 1280px) {
  .band__iframe {
    width: 35vw;
    height: 12vh;
  }
}

.foot {
  background-color: #323232;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .foot {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .foot {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media (min-width: 768px) {
  .foot__social {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    height: 10vh;
  }
}
.foot__social-title {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .foot__social-title {
    font-size: 2rem;
    padding: 0;
    font-weight: 600;
  }
}
.foot__social-img {
  padding-right: 1.5rem;
}
@media (min-width: 768px) {
  .foot__social-img {
    height: 3vh;
    padding-left: 2rem;
  }
}
@media (min-width: 768px) {
  .foot__box {
    display: flex;
    padding-top: 2rem;
  }
}
.foot__contact {
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .foot__contact {
    margin: 0;
  }
}
.foot__contact-booking {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .foot__contact-booking {
    width: 73%;
    padding-top: 1rem;
  }
}
.foot__contact-address {
  width: auto;
}
@media (min-width: 768px) {
  .foot__contact-address {
    width: 72%;
    padding-top: 1rem;
  }
}
@media (min-width: 768px) {
  .foot__contact-email {
    margin: 0;
    padding-top: 1rem;
  }
}
.foot__copyright {
  padding-bottom: 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .foot__copyright {
    padding-top: 3rem;
  }
}
.foot__logo {
  padding-top: 3rem;
  height: 1.25rem;
}
@media (min-width: 768px) {
  .foot__logo {
    position: absolute;
    top: 0rem;
    right: 9rem;
  }
}

.music {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #FFFFFF;
}
.music__title {
  font-size: 1.5rem;
  position: relative;
  color: #323232;
}
@media (min-width: 768px) {
  .music__title {
    font-size: 2rem;
    font-weight: 500;
    padding-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .music__title {
    padding-left: 8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.music__img {
  width: 100%;
}
@media (min-width: 768px) {
  .music__img {
    padding: 4rem;
    padding-bottom: 2rem;
    padding-top: 0;
    width: 85%;
  }
}
@media (min-width: 1280px) {
  .music__img {
    padding-left: 13rem;
    width: 70%;
  }
}
.music__ul {
  list-style: none;
  font-weight: 500;
  padding: 0;
}
@media (min-width: 768px) {
  .music__ul {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .music__ul {
    width: 72vw;
    padding-left: 11rem;
  }
}
.music__article {
  display: flex;
  flex-direction: column;
}
.music__quote {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .music__quote {
    font-size: 1.25rem;
    padding-left: 2rem;
    width: 68%;
  }
}
@media (min-width: 1280px) {
  .music__quote {
    font-size: 1.5rem;
    width: 77%;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .music__author {
    font-size: 1rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .music__author {
    font-size: 1.25rem;
  }
}
.music__name {
  font-weight: 500;
  margin: 0;
}
@media (min-width: 768px) {
  .music__name {
    font-size: 2rem;
    padding-left: 4rem;
  }
}
@media (min-width: 1280px) {
  .music__name {
    padding-left: 12rem;
  }
}
.music__ul-2 {
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .music__ul-2 {
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1rem;
    width: 86%;
  }
}
@media (min-width: 1280px) {
  .music__ul-2 {
    width: 72%;
    padding-left: 12rem;
  }
}
.music__para-1 {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .music__para-1 {
    padding-right: 2rem;
    line-height: 1.75rem;
  }
}
.music__para-2 {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .music__para-2 {
    padding-right: 1rem;
    line-height: 1.75rem;
  }
}

.gallery {
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .gallery {
    width: 100%;
  }
}
.gallery__title {
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #323232;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    padding-left: 8rem;
    padding-top: 2rem;
  }
}
.gallery__img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .gallery__img {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .gallery__img {
    width: 93%;
    padding-left: 4rem;
    padding-bottom: 2rem;
  }
}
.gallery__img--mod {
  padding: 1rem;
  width: 90%;
  display: flex;
}
@media (min-width: 768px) {
  .gallery__img--mod {
    width: 29%;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: bottom;
  }
}

.comment__submission {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid black;
}
.comment__title {
  padding-left: 1.5rem;
  color: #323232;
  font-size: 0.5rem;
}
@media (min-width: 768px) {
  .comment__title {
    font-size: 2.75rem;
    padding-left: 4.5rem;
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .comment__button {
    width: 18vw;
    position: relative;
    left: 68%;
    height: 6vh;
    padding: 1rem;
    margin: 1rem;
  }
}
.comment__button :hover {
  color: rgba(0, 0, 0, 0);
}
.comment__form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}
@media (min-width: 768px) {
  .comment__form {
    padding-left: 5rem;
  }
}
@media (min-width: 1280px) {
  .comment__form {
    padding: 1rem;
  }
}
.comment__name-input {
  border-radius: 0.25rem;
  border: 0.0625rem solid #E1E1E1;
  padding: 0.7rem;
  background-color: #FAFAFA;
}
.comment__label-1 {
  color: #AFAFAF;
  font-size: 0.7rem;
  padding: 0.5rem;
}
.comment__label-2 {
  color: #AFAFAF;
  font-size: 0.7rem;
  padding: 0.5rem;
}
.comment__name-input.active {
  border: 0.0625rem solid #323232;
}
.comment__name-input:invalid {
  border: 1px solid #D22D2D;
}
.comment__comment-input {
  padding: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #E1E1E1;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E1E1E1;
}
.comment__comment-input:invalid {
  border: 2px solid #D22D2D;
}
.comment__box {
  display: flex;
  border-bottom: 1px solid #E1E1E1;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .comment__box {
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .comment__box {
    width: 50%;
  }
}
.comment__section {
  flex-wrap: wrap;
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding: 1rem;
}
.comment__name {
  color: black;
  font-weight: 600;
}
.comment__date {
  color: #AFAFAF;
}
.comment__area {
  width: 100%;
}
.comment__container {
  height: 100%;
  flex-direction: row;
  display: flex;
}
@media (min-width: 768px) {
  .comment__container {
    justify-content: center;
    border-bottom: 1px solid #E1E1E1;
  }
}
.comment__input {
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .comment__input {
    position: relative;
  }
}
.comment__img {
  display: flex;
}
.comment__icon {
  background-color: #E1E1E1;
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  border-radius: 50%;
  margin-top: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}/*# sourceMappingURL=bio.css.map */