@use "./partials/mixins" as *;
@use "../styles/partials/variables" as *;
@use "./partials/globals" as *;

.music {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $white;

  &__title {
    font-size: 1.5rem;
    position: relative;
    color: $band-site-black;
    @include tablet {
      font-size: 2rem;
      font-weight: 500;
      padding-left: 1rem;
    }
    @include desktop {
      padding-left: 8rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  &__img {
    width: 100%;
    @include tablet {
      padding: 4rem;
      padding-bottom: 2rem;
      padding-top: 0;
      width: 85%;
    }
    @include desktop {
      padding-left: 13rem;
      width: 70%;
    }
  }

  &__ul {
    list-style: none;
    font-weight: 500;
    padding: 0;
    @include tablet {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
    }
    @include desktop {
      width: 72vw;
      padding-left: 11rem;
    }
  }
  &__article {
    display: flex;
    flex-direction: column;
  }
  &__quote {
    padding-bottom: 1rem;
    @include tablet {
      font-size: 1.25rem;
      padding-left: 2rem;
      width: 68%;
    }
    @include desktop {
      font-size: 1.5rem;
      width: 77%;
      font-weight: 600;
    }
  }
  &__author {
    @include tablet {
      font-size: 1rem;
      padding-left: 2rem;
    }
    @include desktop {
      font-size: 1.25rem;
    }
  }
  &__name {
    font-weight: 500;
    margin: 0;
    @include tablet {
      font-size: 2rem;
      padding-left: 4rem;
    }
    @include desktop {
      padding-left: 12rem;
    }
  }
  &__ul-2 {
    list-style: none;
    padding: 0;
    @include tablet {
      display: flex;
      padding-left: 4rem;
      padding-right: 4rem;
      font-size: 1rem;
      width: 86%;
    }
    @include desktop {
      width: 72%;
      padding-left: 12rem;
    }
  }
  &__para-1 {
    padding-bottom: 1rem;
    @include tablet {
      padding-right: 2rem;
      line-height: 1.75rem;
    }
  }
  &__para-2 {
    padding-bottom: 1rem;
    @include tablet {
      padding-right: 1rem;
      line-height: 1.75rem;
    }
  }
}

.gallery {
  background-color: $alabaster;
  @include tablet {
    width: 100%;
  }

  &__title {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: $band-site-black;
    @include tablet {
      font-size: 2rem;
      font-weight: 600;
    }
    @include desktop {
      padding-left: 8rem;
      padding-top: 2rem;
    }
  }

  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    @include desktop {
      width: 93%;
      padding-left: 4rem;
      padding-bottom: 2rem;
    }

    &--mod {
      padding: 1rem;
      width: 90%;
      display: flex;
      @include tablet {
        width: 29%;
        object-fit: cover;
        vertical-align: bottom;
      }
    }
  }
}

.comment {
  &__submission {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid black;
  }
  &__title {
    padding-left: 1.5rem;
    color: $band-site-black;
    font-size: 0.5rem;
    @include tablet {
      font-size: 2.75rem;
      padding-left: 4.5rem;
      padding-top: 2rem;
    }
  }
  &__button {
    @include button;
    @include tablet {
      width: 18vw;
      position: relative;
      left: 68%;
      height: 6vh;
      padding: 1rem;
      margin: 1rem;
    }
    :hover {
      color: $bandsite-darkblack;
    }
    }
  &__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    @include tablet {
      padding-left: 5rem;

    }
    @include desktop {
      padding: 1rem;
    }
  }
  &__name-input {
    border-radius: 0.25rem;
    border: 0.0625rem solid $mercury;
    padding: 0.7rem;
    background-color: $alabaster;
  }
  &__label-1 {
    color: $silver;
    font-size: 0.7rem;
    padding: 0.5rem;
  }
  &__label-2 {
    color: $silver;
    font-size: 0.7rem;
    padding: 0.5rem;
  }
  &__name-input.active {
    border: 0.0625rem solid $band-site-black;
  }
  &__name-input:invalid {
    border: 1px solid #D22D2D;

  }
  &__comment-input {
    padding: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid $mercury;
    background-color: $alabaster;
    border-bottom: 1px solid $mercury;
  }
  &__comment-input:invalid {
    border: 2px solid #D22D2D;

  }
  &__box {
    display: flex;
    border-bottom: 1px solid $mercury;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
    @include tablet {
      width: 80%;
    }
    @include desktop {
      width: 50%;
    }
  }
  &__section {
    flex-wrap: wrap;
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 1rem;
  }
  &__name {
    color: black;
    font-weight: 600;
  }
  &__date {
    color: $silver;
  }

  &__area {
    width: 100%;
  }
  &__container {
    height: 100%;
    flex-direction: row;
    display: flex;
    @include tablet {
      justify-content: center;
      border-bottom: 1px solid $mercury;
    }
  }
  &__input {
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding-left: 2rem;
    @include tablet {
      position: relative;
    }
  }
  &__img {
    display: flex;
  }
  &__icon {
    background-color: $mercury;
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    border-radius: 50%;
    margin-top: 1rem;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}
