@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AlternativeFiles/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AlternativeFiles/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AlternativeFiles/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
}
* {
  font-family: "Avenir Next";
}

body {
  margin: 0;
}

.band {
  background-color: #323232;
  color: white;
}
.band__head--title {
  display: flex;
  height: 1.25rem;
  width: 60vw;
  text-align: center;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .band__head--title {
    height: 1.25rem;
    padding-right: 2rem;
    padding-left: 0;
    padding-top: 0;
    width: 20vw;
  }
}
.band__navi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .band__navi {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 45vw;
    height: 7vh;
    padding-top: 2rem;
  }
}
.band__navi--links {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100vw;
  text-decoration: none;
  list-style: none;
}
.band__navi--link-1 {
  width: 50%;
  padding-right: 0rem;
  border-bottom: 0.1875rem solid white;
  display: flex;
  justify-content: center;
}
.band__navi--link-2 {
  width: 50%;
  margin: 0;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
}
.band__navi--anchor {
  padding-bottom: 1rem;
  border-bottom: 1px #FAFAFA;
  text-decoration: none;
  color: white;
}
.band__head {
  background: url(/assets/images/hero-bio.jpg);
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: center;
  background-position: center;
  margin: 0;
  z-index: 1;
  position: relative;
}
.band__head::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #323232;
  opacity: 50%;
  z-index: -1;
}
@media (min-width: 768px) {
  .band__head {
    height: 75vh;
    font-size: 3.75rem;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .band__head {
    padding-left: 8rem;
    height: 80vh;
  }
}
.band__head--img {
  font-size: 2rem;
  padding-left: 1rem;
  font-weight: 500;
  background-position: center;
  margin: 0;
}
@media (min-width: 768px) {
  .band__head--img {
    font-size: 3.75rem;
  }
}

.foot {
  background-color: #323232;
  color: white;
  text-decoration: none;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .foot {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .foot {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.foot__social {
  font-weight: 300;
}
@media (min-width: 768px) {
  .foot__social {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    height: 10vh;
  }
}
.foot__social--title {
  font-weight: 400;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .foot__social--title {
    font-size: 2rem;
    padding: 0;
    font-weight: 600;
  }
}
.foot__social--img {
  padding-right: 1.5rem;
}
@media (min-width: 768px) {
  .foot__social--img {
    height: 3vh;
    padding-left: 2rem;
  }
}
@media (min-width: 768px) {
  .foot__box {
    display: flex;
    padding-top: 2rem;
  }
}
.foot__contacts {
  list-style: none;
  padding: 0;
  font-weight: 700;
}
@media (min-width: 768px) {
  .foot__contacts {
    margin: 0;
  }
}
.foot__contacts--booking {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
@media (min-width: 768px) {
  .foot__contacts--booking {
    width: 73%;
    padding-top: 1rem;
  }
}
.foot__contacts--address {
  width: auto;
  font-weight: 400;
}
@media (min-width: 768px) {
  .foot__contacts--address {
    width: 72%;
    padding-top: 1rem;
  }
}
.foot__contacts--email {
  font-weight: 400;
}
@media (min-width: 768px) {
  .foot__contacts--email {
    margin: 0;
    padding-top: 1rem;
  }
}
.foot__copyright {
  padding-bottom: 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .foot__copyright {
    padding-top: 3rem;
  }
}
.foot__logo {
  padding-top: 3rem;
  height: 1.25rem;
}
@media (min-width: 768px) {
  .foot__logo {
    position: absolute;
    top: 0rem;
    right: 9rem;
  }
}/*# sourceMappingURL=shows.css.map */