@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alternative-files/AvenirNextLTPro.ttf") format("truetype") font-weight 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format("truetype") font-weight 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
* {
  font-family: "Avenir", sans-serif;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Avenir", sans-serif;
}

.band {
  background-color: #323232;
  color: #FFFFFF;
}
.band__head-title {
  display: flex;
  height: 1.25rem;
  width: 60vw;
  text-align: center;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .band__head-title {
    height: 1.25rem;
    padding-right: 2rem;
    padding-left: 0;
    padding-top: 0;
    width: 20vw;
  }
}
@media (min-width: 768px) {
  .band__heading {
    font-size: 2rem;
    padding-left: 1rem;
  }
}
.band__navi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .band__navi {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 45vw;
    height: 5vh;
    padding-top: 2rem;
  }
}
.band__navi-link {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-top: 1rem;
  width: 100vw;
}
@media (min-width: 768px) {
  .band__navi-link {
    padding-top: 0;
  }
}
.band__navi-link-1 {
  width: 50%;
  padding-right: 0rem;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-right: 1rem;
}
.band__navi-link-1 :hover {
  border-bottom: 0.1875rem solid #FFFFFF;
  width: 50%;
}
.band__navi-link-2 {
  width: 50%;
  margin: 0;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
}
.band__navi-link-2 :hover {
  border-bottom: 0.1875rem solid #FFFFFF;
}
.band__navi-anchor {
  padding-bottom: 1rem;
  border-bottom: 1px #FAFAFA;
  text-decoration: none;
  color: #FFFFFF;
}
.band__head {
  background: url(/assets/images/hero-bio.jpg);
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: center;
  background-position: center;
  margin: 0;
  z-index: 1;
  position: relative;
}
.band__head::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #323232;
  opacity: 50%;
  z-index: -1;
}
@media (min-width: 768px) {
  .band__head {
    height: 75vh;
    font-size: 3.75rem;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .band__head {
    padding-left: 8rem;
    height: 80vh;
  }
}
.band__head-img {
  font-size: 2rem;
  padding-left: 1rem;
  background-position: center;
  margin: 0;
}
@media (min-width: 768px) {
  .band__head-img {
    font-size: 3.75rem;
    height: 15vh;
    padding-top: 1rem;
  }
}
.band__head-img-2 {
  font-size: 2rem;
  padding-left: 1rem;
  background-position: center;
  margin: 0;
}
@media (min-width: 768px) {
  .band__head-img-2 {
    font-size: 3.75rem;
    height: 15vh;
    padding-top: 1rem;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .band__head-img-2 {
    margin: 0;
  }
}
.band__head-2 {
  background: url(/assets/images/hero-shows.jpg);
  background-size: cover;
  height: 40vh;
  display: flex;
  background-position: center;
  z-index: 1;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
.band__head-2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #323232;
  opacity: 50%;
  z-index: -1;
}
@media (min-width: 768px) {
  .band__head-2 {
    height: 60vh;
    font-size: 3.75rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .band__head-2 {
    height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .band__box-1 {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .band__box-2 {
    display: flex;
    flex-direction: column;
  }
}
.band__heading {
  display: flex;
  margin: 0;
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.band__iframe {
  width: 90%;
  padding-top: 1rem;
  height: 10vh;
}
@media (min-width: 768px) {
  .band__iframe {
    width: 75vw;
    height: 11vh;
  }
}
@media (min-width: 1280px) {
  .band__iframe {
    width: 35vw;
    height: 12vh;
  }
}

.foot {
  background-color: #323232;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .foot {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .foot {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media (min-width: 768px) {
  .foot__social {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    height: 10vh;
  }
}
.foot__social-title {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .foot__social-title {
    font-size: 2rem;
    padding: 0;
    font-weight: 600;
  }
}
.foot__social-img {
  padding-right: 1.5rem;
}
@media (min-width: 768px) {
  .foot__social-img {
    height: 3vh;
    padding-left: 2rem;
  }
}
@media (min-width: 768px) {
  .foot__box {
    display: flex;
    padding-top: 2rem;
  }
}
.foot__contact {
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .foot__contact {
    margin: 0;
  }
}
.foot__contact-booking {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .foot__contact-booking {
    width: 73%;
    padding-top: 1rem;
  }
}
.foot__contact-address {
  width: auto;
}
@media (min-width: 768px) {
  .foot__contact-address {
    width: 72%;
    padding-top: 1rem;
  }
}
@media (min-width: 768px) {
  .foot__contact-email {
    margin: 0;
    padding-top: 1rem;
  }
}
.foot__copyright {
  padding-bottom: 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .foot__copyright {
    padding-top: 3rem;
  }
}
.foot__logo {
  padding-top: 3rem;
  height: 1.25rem;
}
@media (min-width: 768px) {
  .foot__logo {
    position: absolute;
    top: 0rem;
    right: 9rem;
  }
}

@media (min-width: 1280px) {
  .show__contents {
    display: flex;
    justify-content: space-evenly;
  }
}
.show__section {
  padding: 1rem;
  padding-bottom: 3rem;
}
@media (min-width: 1280px) {
  .show__section {
    width: 60vw;
  }
}
.show__section :hover {
  background-color: #FAFAFA;
}
.show__box {
  border-bottom: 0.0625rem solid #E1E1E1;
}
@media (min-width: 768px) {
  .show__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 1.125rem;
    align-items: center;
  }
  .show__box:nth-child(n+2) .show__date, .show__box:nth-child(n+2) .show__venue, .show__box:nth-child(n+2) .show__location {
    display: none;
  }
}
.show__title {
  margin: 0;
  padding: 1rem;
}
@media (min-width: 768px) {
  .show__title {
    font-size: 3.75rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .show__title {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .show__face {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.show__date {
  color: #AFAFAF;
}
.show__time {
  font-weight: 600;
}
.show__venue {
  color: #AFAFAF;
}
.show__location {
  color: #AFAFAF;
}
.show__button {
  background-color: #323232;
  color: #FFFFFF;
  border-style: none;
  border-radius: 0.25rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  height: 4vh;
  width: 90vw;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .show__button {
    width: 20vw;
    height: 5vh;
    margin: 0;
  }
}
.show__hovers {
  background-color: #E1E1E1;
}/*# sourceMappingURL=shows.css.map */